<configuration>

    <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <!-- Logger Levels -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>